h1{
  color: yellow;
  background-color: green;
}
p{
  width: 90%;
  margin: 0 auto;
  border: 3px solid red;
  font-size: 20px;
}
.box{
  width: 100%;
  height: 100px;
  background-color: red;
  /*margin: 2px;*/
}